body {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  padding: 30px 40px;
  text-align: center;
}

.addBtn {
  padding: 10px;
  width: 10%;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  border-radius: 0;
  color: white;
}

.addBtn:hover {
  background-color: #bbb;
}

.heading {
  color: white;
}

ul li {
  list-style-type: none;
  text-align: center;
}
